@model proekt.Models.Artist

@{
    ViewBag.Title = "Details";
}

<style>
    .my-font {
        color: rgb(245,245,245)
    }
</style>

<br />
<h4 class="my-font">Here is biography for artist @ViewBag.Name</h4>
<br />
<div style="" class="my-font">

    <dl class="dl-horizontal">
        <dt class="text-center">
            @Html.Label("Name: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="text-center">
            @Html.Label("Country: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt class="text-center">
            @Html.Label("Biography: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biography)
        </dd>

    </dl>
</div>
<p class="my-font">
    @Html.ActionLink("List of artists", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>